
@{
    ViewBag.Title = "Find";
}
<h2>
    TÌm kiếm
</h2>
<form method="post">
    Makhachhang:<input type="text" name="Makhachhang" /> <br />
    <input type="submit" value="Tim" />

</form>
